<%= stylesheet_link_tag "index" %>

<div class="row navbar" id="nav1">
  <!-- Toggle for mobile navigation, targeting the <ul> -->
  <div class="row">
	  <h1 class="centered six columns logo">
	    <%= link_to "Title", index_path, class: "text-center"%>
	  </h1>
	</div>
</div>
<br>
<br>
<!-- ------------------ -->
<div class="row">
	<div class="centered ten columns">
		<% flash.each do |key, value| %>
		  <% if key == "notice" %>
		    <%= content_tag :div, value, class: "text-center secondary alert"%>
		  <% elsif key == "alert" %>
		    <%= content_tag :div, value, class: "text-center danger alert" %>
		  <% else %>
		    <%= content_tag :div, value, class: "text-center success alert" %>
		  <% end %>
		<% end %>
	</div>
</div>

	<div class="row">
		<div class="centered six columns text-center">
		
		</div>	
	</div>
<!-- ------------------- -->
<br>
	<div class="row">
		<div class="three columns"></div>
	  <div class="three columns text-center">
	    <%= link_to "Log In ", login_path, class: "large default btn" %>
		</div>
		<div class="three columns text-center">
			<%= link_to "Sign Up ", signup_path, class: "large default btn"  %>
		</div>
		<div class="three columns"></div>
  </div>
</div>