html{
	line-height: 4em;
}

body{
	width: 100%;
	height: 100%;
	background-image: url(http://i.imgur.com/UAQhwdD.jpg);
		  background-attachment: fixed;
    background-position: center;

}

a{
	color: white;
	font-size: 25px;
}

a:hover{
	color: gray;
}

h1{
	color: white;
	font-size: 8em;
}

h2{
	color: white;
}

.sideText a{
	color: white;;
}

li {
	padding-left: 15px;
	padding-right: 15px;
	background:  rgba(0, 7, 7, 0.2);
}

li:hover{
	background: rgba(0, 7, 7, 0.6);
}

li.convoBox, li.convoBox:hover{

	background: rgba(0, 7, 7, 0.2);
}

div.convo h2, li.convoBox, li.convoBox h4{
	line-height: 2em;
	color :white;
}

.btn, .btn.default, {
	background: rgba(0, 7, 7, 0.2) !important;
	color: white;
	padding-left: 0.25em !important;
	padding-right: 0.25em !important;
}

input.btn:hover, input.btn.default:hover, {
     background: rgba(0, 7, 7, 0.4);
}

.sideNav{
	padding-top: 1.875em;
}

.sideText{
	font-size: 30px;
}

.field .input{
	color: white;
	background:  rgba(0, 7, 7, 0.2);
	height: 50px;
	font-size: 2rem;
	border: 2px solid white;
}

form label{
	font-size: 2rem;
	color: white;
}

.columns{
	margin-left: 10%;
}


.alert.secondary, .alert.danger, .alert.success{
	color: white;
	border: .13em solid white;
	
}

.alert.secondary{
	background: rgba(197, 198, 7, 0.4);
}

.alert.danger{
	background: rgba(234, 4, 0, 0.4);
}

.alert.success{
	background: rgba(38, 188, 44, 0.4);;
}

.alert{
	font-size: 1.5rem;
}

li a { 
    display: block; 
    /* and you can use padding for additional space if needs, as a clickable area / or other styling */ 
}


